---

---

<!-- Footer Code -->
<section class="flex justify-center text-white">
    <div style="min-width: 40rem;background-color: rgba(27, 27, 80, 0.35);" class="flex justify-between p-2 rounded-2xl">
        <h3 style="font-size: 20px;" class="font-semibold">
            © 2024 Your Notepad | All rights reserved
        </h3>
        <div class="text-2xl flex gap-4">
            <a
                href="https://github.com/Klaandee/your-notepad-definitive"
                target="_blank"
            >
                <i class="bi bi-github" title="Open Source"></i>
            </a>
            <a href="https://jhonaz.netlify.app/" target="_blank">
                <i class="bi bi-person-circle" title="Web Developer"></i>
            </a>
        </div>
    </div>
</section>

<!-- CSS -->
<style></style>
