---

---

<!-- Hero Code -->
<section class="text-white p-6 flex justify-center">
    <div>
        <h1 class="text-6xl font-bold" style="width: 80rem;">
            <b class="text-blue-200">ยก</b>Notepad Online<b class="text-blue-200"
                >!</b
            >
        </h1>
        <p class="p-2">
            Your own online notepad, 100% secure, reliable and efficient.
        </p>
    </div>
</section>

<!-- CSS -->
<style>
    section {
        font-family: "Poppins", sans-serif;
    }
</style>
